.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2rem 0;
}

.banner__titulo {
    font-size: 1.13rem;
    font-weight: 700;
}

.banner__texto {
    padding: 0 3.5rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 1rem 0 1.5rem 0;
}

.banner__busca {
    background-color: transparent;
    color: var(--branco);
    font-size: 0.88rem;
    padding: .88rem;
    border: 1px solid var(--branco);
    border-radius: 24px;
    width: 90%;
}

.banner__busca::placeholder {
    font-family: var(--fonte-principal);
    color: var(--branco);
    font-size: .88rem;
    font-weight: 400;
    text-align: center;
}

@media screen and (min-width: 1024px) {

    .banner {
        padding: 5.25rem 0;
    }

    .banner__titulo {
        font-size: 2.25rem;
    }

    .banner__busca {
        width: 50%;
    }
}