.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.13rem;
    font-weight: 700;
    padding: 1.5rem 0 .75rem 0;
}

.swiper-pagination {
    position: initial;
    margin: .6rem 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next, .swiper-scrollbar {
    display: none;
}

.card {
    background: var(--branco);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1.5rem;
    padding: 1rem;
}

.card__descriçao {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: .5rem;
}

.descriçao__titulo {
    color: var(--laranja);
    font-weight: 700;
    line-height: 1.5rem;
}

.descriçao__titulo-livro {
    color: var(--azul);
    font-size: 1.13rem;
    font-weight: 700;
    line-height: 1.7rem;
    margin: .5rem 0;
}

.descriçao__texto {
    font-size: 0.88rem;
    line-height: 1.3rem;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
}

.botoes__item {
    gap: .5rem;
}

.botoes__ancora {
    text-decoration: none;
    background: var(--laranja);
    padding: 1rem 2.2rem;
    color: var(--branco);
    font-weight: 700;
}

.descriçao__estrelas {
    margin-bottom: .5rem;
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 1.63rem;
        padding: 3.2rem 0 1rem 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-pagination {
        margin: 2rem 0 4.85rem 0;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
        top: 67%;
    }

    .card {
        width: 56.5%;
        margin: 3.85rem auto 3rem auto;
    }
}