.cabeçalho {
    background-color: var(--branco);
    padding-right: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container__botao {
    display: none;
}

.cabeçalho__menu-hamburguer {
    width: 4.85rem;
    height: 4.85rem;
    background: url("../imagens/Menu.svg") no-repeat center;
    display: inline-block;
}

.container__botao:checked ~ .container__rotulo > .cabeçalho__menu-hamburguer {
    background-image: url("../imagens/Menu-Aberto.svg");
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 30%;
    width: 70vw;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1rem;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__titulo,
.opçoes,
.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {

    .cabeçalho {
        padding: 0 5rem;
    }

    .cabeçalho__menu-hamburguer {
        display: none;
    }
    
    .container__titulo {
        font-family: var(--fonte-secundaria);
        font-size: 1.86rem;
        font-weight: 400;
        display: block;
        transform: translate(0, 8px);
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opçoes {
        display: flex;
        gap: 2.63rem;
    }

    .opçoes__botao {
        display: none;
    }

    .opçoes__botao:checked ~ .opçoes__rotulo > .opçoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opçoes__botao:checked ~ .lista-menu {
        display: block;
    }

    .lista-menu {
        width: auto;
        right: auto;
    }

    .lista-menu__item {
        padding-right: 3rem;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

    .opçoes__item {
        text-transform: uppercase;
        padding: 2em .63em 2em .63em;
    }

    .opçoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente {
        display: none;
    }
}

@media screen and (min-width: 1728px) {

    .cabeçalho {
        padding: 0 5rem;
    }

    .opçoes {
        margin: 0 auto 0 4rem;
    }

    .container__link {
        display: flex;
        align-items: center;
        gap: .25rem;
        text-decoration: none;
        font-size: 1.25rem;
        color: var(--preto);
    }

    .container__texto {
        display: block;
    }

}