.cabeçalho {
    background-color: var(--branco);
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container__botao {
    display: none;
}

.cabeçalho__menu-hamburguer {
    width: 3rem;
    height: 3rem;
    background: url("../imagens/Menu.svg") no-repeat center;
    display: inline-block;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 30%;
    width: 70vw;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1rem;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__titulo {
    display: none;
}

.opçoes {
    display: none;
}

@media screen and (min-width: 1024px) {

    .cabeçalho__menu-hamburguer {
        display: none;
    }
    
    .container__titulo {
        font-family: var(--fonte-secundaria);
        font-size: 1.86rem;
        font-weight: 400;
        display: block;
        transform: translate(0, 8px);
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opçoes {
        display: flex;
        gap: 2.63rem;
    }

    .opçoes__botao {
        display: none;
    }

    .opçoes__botao:checked ~ .lista-menu {
        display: block;
    }

    .lista-menu {
        width: auto;
        right: auto;
    }

    .opçoes__item {
        text-transform: uppercase;
    }

    .opçoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente {
        display: none;
    }
}