hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1rem 0 2rem 2rem;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;

        padding: 3.5rem 1.5rem;
    }

    .rodape__titulo {
        font-size: 1.5rem;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape__titulo {
        font-size: .88rem;
        color: var(--cinza-claro);
        text-transform: uppercase;
        padding-bottom: .5rem;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 1rem 0;
    }

    .lista-rodape__link {
        text-decoration: none;
        color: var(--cinza);
        margin-left: .5rem;
        font-size: .88rem;
        
    }
}