.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1.5rem .5rem;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    line-height: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.topicos__item {
    background: var(--laranja);
    padding: 1rem 1.5rem;
}

.topicos__link {
    color: var(--branco);
    text-decoration: none;
    font-size: .88rem;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {

    .topicos {
        padding: 2rem;
    }

    .topicos__titulo {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
    }

    .topicos__lista {
        gap: 1.5rem;
    }

    .topicos__item {
        padding: 1.5rem 2rem;
    }

    .topicos__link {
        font-size: 1.5rem;
    }
}